body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

p {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 5px;
    color: #aaa;
}

canvas {
    background-color: #000;
    margin-top: 50px;
}